.jenkins
  &__test
    &__line
      display : flex
      margin : 0.5em
      background-color : #535c68
      padding-left  : 0.5em
      padding-right : 0.5em
      border-radius : 0.2em

    &__name
      font-size : 2vmin
      display : flex
      align-items : center