.jenkins
  &__test
    &__line
      display flex
      margin 0.5em
      background-color #535c68
      padding-left 0.5em
      padding-right 0.5em
      border-radius 0.2em

    &__name
      font-size 2vmin
      display flex
      align-items center
      justify-content center

    &__container
      flex-grow 1
      margin 0.5 2em
      display flex
      border-radius  1em
      overflow hidden

    &__center
      display flex
      justify-content center
      align-items center

    &__passed
      background-color #198452
    
    &__skipped
      background-color #e1b12c
    
    &__failed
      background-color #bd0000

